*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor01:rgba(109, 39, 39, 0.267);
    --cor02:rgba(175, 61, 61, 0.034);
}

body{
    color:white;
    background-color:var(--cor01);

    font:normal 17pt Arial;

}

header{
    padding: 20px;

    text-align: center;

}

section{
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);

}

div{

    font-weight: bold;
    padding: 10px;
   color: white;
    text-align: center;
}

footer{
    margin: 15px;
    padding: 5px;
    color:white;
    text-align: center;
    font-style: italic;

}